
body {
    font-family: Arial, sans-serif;
    margin: 30px;
    /* color: #333; */
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    background-color: #f1f1f1;
    color: black;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  textarea {
    height: 100px;
    resize: vertical;
  }
  
  button {
    background-color: #0095ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .file-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .file-name {
    margin-left: 10px;
    font-style: italic;
  }
  
  #image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  